node_modules

./server/node_modules
./server/dist
./server/coverage
./server/logs
./server/tmp
./server/temp
./server/build
./server/out
./server/public
./server/.next
./server/.nuxt
./server/.env
./server/.vuepress/dist

./client/node_modules
./client/dist
./client/coverage
./client/logs
./client/tmp
./client/temp
./client/build
./client/out
./client/public
./client/.next